@import '@/styles/colors.css';

.container {
  display: flex;
  font-weight: 500;
  height: 1lh;
  margin: 0.5em 1em;
  word-break: break-word;
}

.error {
  color: var(--color-red);
}

.success {
  color: var(--color-blue);
}
