@import '@/styles/colors.css';

.navLink {
  align-items: center;
  display: flex;
  margin: 0.25em;
  padding: 0.5em;
  text-decoration: none; /* removes underline */
}

.navLink:hover,
.navLink:focus-visible {
  background-color: var(--color-blue);
  border-radius: 0.25em;
  outline: none;
}

.navLink:active {
  background-color: var(--color-light-blue);
}

.icon {
  color: var(--color-blue);
  height: 24px;
  margin-right: 0.5em;
  width: 24px;
}

.text {
  color: var(--color-black);
  font-weight: 600;
}

.navLink:hover .icon,
.navLink:hover .text,
.navLink:focus-visible .icon,
.navLink:focus-visible .text {
  color: var(--color-white);
}

.current .text {
  color: var(--color-blue);
}
