@import '@/styles/colors.css';
@value sm from '@/styles/breakpoints.css';

:root {
  --icon-dimensions: 20px;
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-gray);
  display: flex;
  justify-content: center;
  height: var(--icon-dimensions);
}

.button:focus {
  outline: none;
}

.button:focus-visible,
.button:hover {
  color: var(--color-blue);
}

.button span {
  margin-left: 0.5em;
}

.icon {
  height: var(--icon-dimensions);
  width: var(--icon-dimensions);
}

@media (sm) {
  :root {
    --icon-dimensions: 16px;
  }
}
