@import '@/styles/colors.css';

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.navBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5em;
  position: sticky;
  top: 0;
  width: 200px;
}

.content {
  border-left: 1px solid var(--color-light-gray-1);
  border-right: 1px solid var(--color-light-gray-1);
  height: 100%;
  width: 600px;
}
