@import '@/styles/colors.css';

.modal {
  border: none;
  border-radius: 0.8em;
  margin: auto;
  padding: 1.5em;
  position: fixed;
}

.button {
  --width: 16px;
  background: none;
  border: none;
  color: var(--color-gray);
  height: var(--width);
  margin: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--width);
}

.button:focus-visible {
  color: var(--color-light-blue);
  outline: none;
}

.button:hover {
  color: var(--color-light-blue);
}

.icon {
  height: var(--width);
  width: var(--width);
}
