:root {
  --color-blue: #4285f4;
  --color-light-blue: #d2e3fc;
  --color-gray: #9aa0a6;
  --color-light-gray-1: #ececec;
  --color-light-gray-2: #dedede;
  --color-green: #34a853;
  --color-red: #ea4335;
  --color-white: #ffffff;
  --color-yellow: #fbbc05;
}
