@import "./colors.css";

.form {
  --input-border-width: 2px;
  --padding: 10px;
  font-size: 16px;
  margin: 1em;
  position: relative;
  width: min(80vw, 400px);
}

.form input {
  background-color: var(--color-light-gray-1);
  border-color: var(--color-light-gray-1);
  border-radius: 4px;
  border-style: solid;
  border-width: var(--input-border-width);
  box-sizing: border-box;
  font-size: 1em;
  margin-bottom: 1em;
  padding-inline: var(--padding);
  padding-bottom: 0.5em;
  padding-top: 1.2em;
  width: 100%;
}

.form input:focus {
  border-color: var(--color-blue);
  outline: none;
}

.form label {
  color: var(--color-gray);
  left: 0;
  margin-left: calc(var(--input-border-width) + var(--padding));
  pointer-events: none;
  position: absolute;
  transform: translateY(calc(1em - var(--input-border-width)));
  transition: 0.2s ease all;
}

.form input:focus ~ label {
  color: var(--color-blue);
  font-size: 12px;
  transform: translateY(0.5em);
  transition: 0.2s ease all;
}

.form input:valid:not(:focus) ~ label {
  color: var(--color-gray);
  font-size: 12px;
  transform: translateY(0.5em);
}

.form button {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  border-style: solid;
  border-radius: 4px;
  color: var(--color-white);
  font-weight: bold;
  height: 3em;
  width: 100%;
}

.form button:hover {
  background-color: var(--color-light-blue);
  border-color: var(--color-light-blue);
}
