@import './colors.css';

.modal {
  border: none;
  border-radius: 0.8em;
  margin: auto;
  overflow: hidden;
  padding: 1.5em;
  position: relative;
}

.button {
  background: none;
  border: none;
  color: var(--color-gray);
  margin: 1em;
  position: absolute;
  right: 0;
  top: 0;
}

.button:hover {
  color: var(--color-light-blue);
}
