:root {
  --color-black: #000000;
  --color-blue: #1da1f2;
  --color-dark-blue: #0c84cd;
  --color-light-blue: #3faff4;
  --color-gray: #636c72;
  --color-light-gray-1: #ececec;
  --color-light-gray-2: #d4d4d4;
  --color-pink: #f91880;
  --color-red: #e50914;
  --color-white: #ffffff;
}
