@import '@/styles/colors.css';

.button {
  background-color: var(--color-blue);
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  margin: 0.5em;
  padding: 0.75em 1em;
}

.button:hover {
  background-color: var(--color-dark-blue);
}

/* when tab navigated */
.button:focus-visible {
  outline-color: var(--color-blue);
  outline-offset: 3px;
}

/* when clicked */
.button:active {
  background-color: var(--color-light-blue);
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.icon {
  color: var(--color-white);
  margin-right: 1em;
}

.text {
  color: var(--color-white);
  font-size: 1em;
  font-weight: 600;
}
